
/* For width smaller than 400px: */

/*@media only screen and (min-width:450px) {*/
.large {
  background-repeat: no-repeat;
  background-image: url('/smainoo.github.io/weather/images/responsive_img/clear417_209.jpg');
/*  background-color: crimson;*/
  }
/*}*/

/* For width 400px and larger: */
@media only screen and (max-width: 760px)   {
 .large {
    background-repeat: no-repeat;
    background-image:
      url('/smainoo.github.io/weather/images/responsive_img/clouds800_600.jpg');
/*    background-color: aqua;*/
  }
}


