/*This is my screen file for the weather site*/

/*Import the Sansita font from google fonts. Import must be first in a stlyesheet*/
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/*Table of Contents


1. General Rules
2. Mobile First Rules
2a. Layout
3. Large Screen Rules
3a. Layout
4a. Large Screens

*/

/*General Rules*/
* {
  box-sizing: border-box; /* changes width property to total width instead of content width*/
}
*:before, *:after{
  box-sizing: border-box;
}

body{
  font-family: helvitica arial sans-serif;
  font-size: 20px;
  background-color:#fff;

}
h1,h2,h3,h4,h5,h6 {
  font-family: Sansita, Times, serif;
}

img {
  max-width: 100%;
  height: auto;
}
/*make the navigation list horizonatl*/
nav ul li {
  display: inline-block;
  list-style: none;


}

#page-header{
  background-color: #0e89d5;
  display: flex;
  align-items: center;
}
/*Navigation styles*/

#page-nav {
  position: fixed;
  bottom: 0;
  background-color: #0e89d5;
  width: 100%;
}
/*apply flex properties to the page-nav id*/
a:link{
  color:#FFF;

}

a:active{
  color:#FFF;

}

a:visited{
  color:#FFF;

}

#page-nav ul{
  display: flex;
  justify-content: space-around;
  color: #FFF;


}

/*weather information style*/

#weatherInfo {
  background-size: cover;
}

#small, #vidoe, #hourlyTemp {
  background-color: rgba(200, 200, 200, .6);
  margin: .2em auto;
  border: 1px solid;
  border-radius: 15px;
}

#temps p {
  text-align: center;
  margin: .5em 0;
}

#max {
  color: #a00;
  margin-right: .5em;
}

#min {
  color: #00a;
}

#windDirection {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: smaller;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video {
  text-align: center;
}

#samll {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1em;
}

#temps, #wind {
  flex: 0 1 50%;
}

#mainTemp {
  font-size: 4em;
  margin: 0 !important;
  padding: .05em;
}

/*background picture*/

.clouds {
  background-image: url(/smainoo.github.io/weather/images/clouds.jpg);
}


/*set the footer to be visible*/
footer{
  margin-bottom: 2em;
  background-color: #0e89d5;

}


/*style the page header with a class*/
#site-brand{
  font-size: 2em;
  font-weight:700;
}
/*increase the logo*/
#logo{
  font-size: 4em;
  text-align: left;
}
/*change header background color*/
header{
  background-color: #0e89d5;
  height: auto;
}
/*background color for main*/
main{
  background-color: #FFF;
}
/*create the tile comtainer*/
.tempTile{
  display: flex;
  border:2px solid #000;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  background-color: #ccc7c7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#mainTemp{
  font-size: 30px;
  color: #000;
}
#max{
  color: #F00;
}
#min{
  color: #00F;
}
.videoTile{
  border:2px solid #000;
  padding: 150px;
  margin: 5px;
  border-radius: 10px;
background-image: url(/weather/images/video.png);
  background-repeat: no-repeat;
  background-position: center;
text-align: center;
}
#temp {
  display: flex;
  flex-flow: column wrap;
  padding-right: 300px;
  padding-left: 100px;

  align-content: flex-end;
}

/*wind information*/
#wind {
  position: relative;
  display: flex;
  flex-direction: column;
/*  justify-content: center;*/
  flex-grow: 1;
/*
  padding-right: 50px;
  align-content: flex-end;
*/
}

#wind.northPoint {
  font-size: smaller;
  margin: .5em 0 0 0;
  text-align: center;
}

#windSpeed {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 30%;
}

#dial {
  height: 150px;
  width: 150px;
  background: no-repeat center/85% url('smainoo.github.io/weather/images/wind-pointer.png');
  z-index: 100;
  margin: -.6em auto 0;
}

.north {
  transform: rotate(0deg);
}

/*hourly Information*/

#hourly ul {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  align-items: center;
  list-style: none;
  padding: .15em;
  margin: .25em 0;
  height: 40px;
}

#hourly ul li {
  flex: 0 0 auto;
  padding: 0 .25em;
  border-right: 1px solid #000;
}

/*Mobile first Tsyles added*/
body> div {
  width: 100vw;
}
h2 {
  display: none;
}

#page-header img {
  width: 10%;
  height: 50%;
  margin: .5em;
}
#site-brand {
  font-size: 9vw;
}
#page-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #0e89d5;
  width: 100vw;
  font-size: 3.5vw;

}


/***************************************************
4a. Large screens begin at 795px approximately 39.75em (1 em = 20px)
  List of changes due to screen size:
  1.  Make section headings visible
  2. Nav to top
  3. Temp/Wind/Video in separate boxes
  4. Temp/Wind/Video in a single container
  5. Temp/Wind/Video aligned, size same, evenly distributed.
  6. Temp/Wind/Video share one line
  7. Hourly forecast inside a box
  8. Footer has a line above it
  9. Everything is bigger
  10. Dial centered in the wind container
  11. Content centered in the viewport
  12. Right arrow in the hourly temps
**********************************************/
@media screen and (min-width: 39.75em){
/*  set the content and center it. Show headings*/

  h2 {
    display: block;
    margin: .25em 0;
  }
  body>div{
    max-width: 1100px;
    margin: 0 auto;
  }

  section p {
    display: inline-block;
    list-style: none;
  }

  #page-nav {
    position: relative;
    font-size: inherit;
    width: auto;
  }

  #weatherInfo{
    display: flex;
    justify-content: space-evenly;
    padding: 1em 0;
    font-size: 5em;
  }

  #locationInfo {
    font-size: inherit;
  }

  #small{
    border: 0;
    background-color:   background-color: #ccc7c7;
    padding-bottom: 0;
    width: 60%;
    justify-content: space-around;

  }

  #wind, #temps {
    flex: 0 0 45%;
  }
  #video {
    width: 28%;
    margin: 0;
  }

  #wind,
  #temps,
  #video {
    background-color: rgba(200, 200, 200, .6);
    border: 1px solid;
    border-radius: 15px;
    text-align: center; /* Center - #10 */
  }

  /*Line above footer*/
  #page-footer{
    border-top: 4px solid #000;
  }

/*  position wind speed dial*/
  #wind-speed {
    top: 38%
  }
  .site-bran {
    font-size: 5ew;
  }

  #houlyTemp{
    position: relative;
  }
  #hourly h2::before{
    content: ">";
    font-size: 2em;
    position: absolute;
    right: 0;
    top: 0;
  }
}






