/*This is my screen file for the weather site*/

/*Import the Sansita font from google fonts. Import must be first in a stlyesheet*/
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/*Table of Contents


1. General Rules
2. Mobile First Rules
2a. Layout
3. Large Screen Rules
3a. Layout

*/

/*General Rules*/
* {
  box-sizing: border-box; /* changes width property to total width instead of content width*/
}
*:before, *:after{
  box-sizing: border-box;
}

body{
  font-family: helvitica arial sans-serif;
  font-size 20;
  background-color:;
  margin: 20px;
  padding: 5px;
}

/*make the navigation list horizonatl*/
nav ul li {
  display: inline-block;
  list-style: none;


}
/*Increase the heigth of the nav bar*/

nav {
  position: fixed;
  bottom: 0;
  left: 10px;
  background-color: #0e89d5;
 line-height: 10px;
  width: 100%;
}
/*set the footer to be visible*/
footer{
  margin-bottom: 2em;
  background-color: #0e89d5;

}

/*style the page header with a class*/
#site-brand{
  font-size: 2em;
  font-weight:700;
  text-align:center;
  margin-left: -500px;
  margin-top: -38px;
}
/*increase the logo*/
#logo{
  font-size: 4em;
  text-align: left;
}
/*change header background color*/
header{
  background-color: #0e89d5;
  height: auto;
}
/*background color for main*/
main{
  background-color: #FFF;
}
/*create the tile comtainer*/
.tempTile{
  border:2px solid #000;
  text-align: center;
}
#mainTemp{
  font-size: 30px;
  color: #000;
}
#max{
  color: #F00;
}
#min{
  color: #00F;
}
.videoTile{
  border:2px solid #000;
  text-align: center;
}
