

/* *********************************
*  1. Imports
********************************* */

/* Sansita font from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Sansita');

/* Add Normalize Code - https://smainoo.github.io/normalize.css/ */
@import url('/acme/css/acmeNorm.css');

/* ***************************************
2. Content page Settings for small screen
*******************************************/



body {
  margin-bottom: 0;
  padding: 0;
  font-family: helvetica arial sans-serif;
  margin-left: 10px;
  margin-right: 10px

}

/*Small Navigation settings*/

* {
  box-sizing: border-box;
}

/*Style the header*/
.header {
  background-color: aliceblue;
  padding: 30px;
  text-align: center;
  color: black;
}

/*styl the top navigation bar*/
.topNav{
  overflow: hidden;
  background-color: cadetblue;
}

/*style the links in the navigation bar*/
.topNav a{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}
section {
  display: -webkit-flex;
  display: flex;
}

#wedding {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20;
}

#parties{
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
}

/*style the social media bar*/
.social {
  overflow: hidden;
  background-color: cadetblue;
}

/*style the socail media links*/
.social a{
  text-decoration: none;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: white;
}





footer {
  border-top: 3px solid #000;
  border-top:3px solid #000;
  text-align: center;
  font-size: 20px;
}


/*Media query for larger screen*/

@media screen and (min-width: 750px) {


  #footer {
    border-top:3px solid #000;
    text-align: center;
    font-size: 20px;
    background-color: aliceblue

  }


}
