/*Style the body of the page to cover whole screen*/
html, body {
    height: 100%;
    padding: 0%;
    margin: 0%;
    width:100%;
}

/******Style for main flex container*/
.mainFlexContainer{
   display:flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
  
}


/*******Banner styling*/
.siteBanner {
    background-color: #0076c6;
    height: 30px;
    font-family: Verdana;
    line-height: 55px;
    padding: 12px;
    
    
}

.bannerContainer {
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px; /*removed the slider*/
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    
}

.bannerText {
    position: relative;
    height: 30px;
    padding-left: 1em;
    border-left: 1px solid #fff;
    color: white;
    font-size: 26px;
    /*left: 120px;*/ /*This created a border of 120px to the right, generating a slider; Corrected in bannerContainer*/
    line-height: 30px;
    top: 1px;
    
}


.logo {
    margin: 0px;
    z-index: 1;
    position: absolute;
    left: 20px;
    top: 8px;
}
/*Style a container to hold map and left content items*/
.leftAndRightContents{
    display:flex;
    height: 100%;
    
}

/*make the map cover the page with absolute position for layerover options*/
#mapDiv {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}

/*set the container class to layover the background map*/
#leftContentItems {
    width: 390px;
    background: linear-gradient(#f5b65d, #f3c788ab);
    display: grid;
    grid-template-rows: 40px auto;
}
p.instructionText {
    height: 40px;
    font-size: 26px;
    font-family: 'Times New Roman';
    /*margin: 5px 5px 5px 30px;*/ /*Drops the text right on top o the nav buttons*/
    display:grid;
    text-align:center;
    line-height:normal;
}

#container {
    /*position: relative;*/
    font-size: 24px;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 350px; 
    display: flex;
    flex-direction: column;
    
    
}

/*************Group the travel mode and reset buttons into one column grid*/
.travel-container {
    
}

.dijitSelect .dijitButtonContents {
    padding: 0;
    white-space: nowrap;
    text-align: left;
    border-width: 1px;
}

/*style the travel mode dropdown menu*/
#travelModeBtn {
    position: relative;
    height: 50px;
    width: 50%;
    left: 5%;
    color: black;
    margin-top: 0;
    font-family: 'Times New Roman';
    
}

.dijitSelect .dijitButtonContents {
    padding: 0;
    white-space: nowrap;
    text-align: left;
    border-style:none !important;
    border-width: 2px;
}

/*Styles the travel Mode text:*/
h3 {
    /*position: relative;*/
    left: 10%;
    font-family: 'Times New Roman';
    font-size: 22px;
    font-weight: 100;
    line-height: 30px;
    width: 180px; 
    margin: 3px;
    padding-left: 20px;
}

/*Legend style*/
#legend {
    margin-top: 20px;
     width: 250px; 
     height: 150px; 
    left: 20px;
    margin-left: -10px;
}

/***************Individual class settings for Travel Mode Options Button*/

.dijitButtonContents{
    border-radius: 5px;
}

/*width of the travel mode label box*/
.tundra .dijitSelect{
 width: 200px;

}
.tundra .dijitSelectlabel{
    width: 200px;
}

.tundra .dijitSelect input, .dijitTextBox input {
     float: none !important; 
}
.tundra .dijitTextBox{

}

/*Style the inner content of travel mode button*/
.tundra .dijitInputField{

}
/*Styles the text in all the buttons*/
.tundra .dijitButtonText{
text-align: center;
padding: 0 0.3em;
}
/***************Individual class settings for Reset Button*/
.tundra .dijitSelect, .tundra .dijitTextBox {
    border-radius: 5px;
}

/*controls the dijit buttons, except the travel mode button*/
.tundra .dijitButtonNode {
    padding: 0.1em 0.2em 0.2em 0.2em;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 0.1em 0.2em 0.2em 0.2em;
    
}

/*styles the travel mode dropdown arrow*/

.tundra .dijitSelect .dijitArrowButton {
    background: #fff url(images/buttonEnabled.png) repeat-x bottom left;
    border-width: 2px;
    border-color: #707070;
    
}
.tundra .dijitArrowButtonInner {
    width: 7px;
    height: 7px;
     margin: 0 0 0 0; 
}

tundra .dijitSelect .dijitButtonContents, .tundra .dijitSelect, .tundra .dijitTextBox {
    background: #fff url(images/validationInputBg.png) repeat-x top left;
    /*background: #fffurl(images/validationInputBg.gif) repeat-x top left;*/
}

/*Global setting for dijitbuttons*/
.dijitButtonNode * {
    border-radius: 5px;
}

.resetButton {
    /*border: 3px solid #31A6FF;*/
    /*background-color: red;*/
    /*width: 30px;*/
    /*height: 20px;*/
    border-radius: 2px;
}

/*********Style the reset(Menu) button in the div*********/
#reset {
    position: relative;
    left: 30%;
    color: black; 
    
}




/*********Navigation buttons settings*/
.navigationButtons {
    height: 35px;
    width: 330px;
}
.dijitReset.dijitStretch.dijitButtonContents{
    /*width:30px;*/  
    border-radius: 10px;
}

/*controls  the display between dijit buttons. It affects the nav buttons and the reset*/
.dijitInline {
    vertical-align: auto;
    border-radius: 5px;
}

.travModeButtton.dijitInline {
    vertical-align: auto;
    border-radius: 5px;
}
.dijitButtonText {
    display: inline-block;
    line-height:30px;
    

}

/*controls the reset and the navigation buttons' inner content*/
 .dijitStretch {
    /*height: 30px;*/ /*creates a wierd border around selected button*/
   border-radius: 10px !important;
}
/*text inside the buttons*/
.dijitReset{
    font-size: 24px;
    font-weight: 200;
    /*text inside the travel mode and reset buttons*/
    font-family: 'Times New Roman'; 
    /*border-radius: 5px;*/ /*controls the reset button shape*/
    
    
}

/*styls the height and width of the nav buttons, and the spaces between them*/
.tundra.dijitToggleButton, .dijitButton, .dijitDropDownButton, .dijitComboButton {
    /*margin: 0.2em;*/
    vertical-align: middle;
}

/****Styles the navigation dijit button*******/
.navigationButtons.dijitButton .dijitButtonNode {
    
    width: 320px;
    height: 30px;
    vertical-align: 30px;
    border-radius: 5px;
    border: 1px solid #adadad;
    cursor: pointer;
    color: black;
    text-decoration: none;
    margin-bottom: 3px;
    font-family: Verdana;
    font-weight:normal;
  
}

    .navigationButtons.dijitButton .dijitButtonNode:hover {
        border-radius: 5px;
    }

    .navigationButtons.dijitButton .dijitButtonNode:active {
        border-radius: 5px;
    }
/*Floor button styling*/

#floorLayers {
    position: absolute;
    right: 25px;
    bottom: 110px;
    z-index: 30;
    height: auto;
    display: block;
    font-size: 24px;
}

.floorButton {
    height: 27px;
    width: 27px;
}

.floorButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #adadad), color-stop(1, #707070));
    background: -moz-linear-gradient(top, #adadad 5%, #707070 100%);
    background: -webkit-linear-gradient(top, #adadad 5%, #707070 100%);
    background: -o-linear-gradient(top, #adadad 5%, #707070 100%);
    background: linear-gradient(to bottom, #adadad 5%, #707070 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#adadad', endColorstr='#707070',GradientType=0);
    background-color: #adadad;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 5px;
    border: 1px solid #545454;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0px 1px 0px #000000;
    margin-bottom: 3px;
    font-family: Verdana;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

    .floorButton:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #707070), color-stop(1, #adadad));
        background: -moz-linear-gradient(top, #707070 5%, #adadad 100%);
        background: -webkit-linear-gradient(top, #707070 5%, #adadad 100%);
        background: -o-linear-gradient(top, #707070 5%, #adadad 100%);
        background: linear-gradient(to bottom, #707070 5%, #adadad 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#707070', endColorstr='#adadad',GradientType=0);
        background-color: #707070;
    }

    .floorButton:active {
        position: relative;
        top: 1px;
       
    }
.selectedFloorButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f28e22), color-stop(1, #edb668));
    background: -moz-linear-gradient(top, #f28e22 5%, #edb668 100%);
    background: -webkit-linear-gradient(top, #f28e22 5%, #edb668 100%);
    background: -o-linear-gradient(top, #f28e22 5%, #edb668 100%);
    background: linear-gradient(to bottom, #f28e22 5%, #edb668 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f28e22', endColorstr='#edb668',GradientType=0);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #c9610c;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    width: 35px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #9c4605;
    margin-bottom: 3px;
}

    .selectedFloorButton:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #edb668), color-stop(1, #f28e22));
        background: -moz-linear-gradient(top, #edb668 5%, #f28e22 100%);
        background: -webkit-linear-gradient(top, #edb668 5%, #f28e22 100%);
        background: -o-linear-gradient(top, #edb668 5%, #f28e22 100%);
        background: linear-gradient(to bottom, #edb668 5%, #f28e22 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edb668', endColorstr='#f28e22',GradientType=0);
        background-color: #edb668;
    }

    .selectedFloorButton:active {
        position: relative;
        top: 1px;
    }



  
    
  
